.form__button {
    &-shadow {
        
    }
}
.culina--link {
 &:link,  &:visited {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.726);
 }
 &:hover,&:active {
    text-decoration: none !important;
 } 

}
.culina--btn {
    text-decoration: none !important;
    color: rgb(39, 39, 39);
    &:focus {
        box-shadow: none !important;
        color: rgb(39, 39, 39);
    }
    &:hover {
        color: rgba(39, 39, 39, 0.575);
    }
  
}
.child {
    &__left {
        display: flex;
        justify-content: flex-end;
    }
}
.display-flex {
    display: flex;
    justify-content: space-evenly;
}
.background__color {
    &-gray {
        background-color: rgb(207, 207, 207);
    }
    &-gray-light {
        background-color: rgb(230, 230, 230);
    }
    &-initial-gray {
        background-color: rgba(230, 230, 230, 0.562);
    }
    &-yellow {
        background-color: rgb(19, 235, 206);
    }

}
.text_color {
    &-teal {
       color: rgb(5, 128, 128);
        }
    &-brown {
        color: rgb(158, 43, 43)
    }    
}
