.form__button {
    &-shadow {
        
    }
}
.culina--link {
 &:link,  &:visited {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.726);
 }
 &:hover,&:active {
    text-decoration: none !important;
 } 

}
.child {
    &__left {
        display: flex;
        justify-content: flex-end;
    }
}
.display-flex {
    display: flex;
    justify-content: space-evenly;
}
.background__color {
    &-gray {
        background-color: rgb(207, 207, 207);
    }
    &-gray-light {
        background-color: rgb(230, 230, 230);
    }
}