.dashboard {
    &__box {
        height: 15rem;
        width: 20rem;

        padding: .8rem;
        margin: 0 auto;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.199), 0px 1px 1px 0px rgba(0, 0, 0, 0.137), 0px 1px 3px 0px rgba(0, 0, 0, 0.116);
    }
}
.pie_chart {
    width: 18rem !important;
    height: 18rem !important;
    margin: 0 auto;
}
.vertical_chart {
    width: 50rem !important;
    height: 30rem !important;
}