.dashboard {
    &__box {
        height: 20rem;
        width: 23rem;

        padding: .8rem;
        margin: 0 auto;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.199), 0px 1px 1px 0px rgba(0, 0, 0, 0.137), 0px 1px 3px 0px rgba(0, 0, 0, 0.116);
    }
}