.table{
&__status {
    display: flex;
    &-label {
        display: flex;
        margin-right: 1rem;
    }
    &-box {
        width: 1.5rem;
        height: 1.5rem;
        border: .5px solid black;
        margin-right: 1rem;
    }
}
}
